{% extends 'base.html' %}

{% block main %}
<table class="table table-striped tb">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Registration No.</th>
      <th scope="col">State</th>
      <th scope="col">Speed</th>
      <th scope="col">Average Speed</th>
      <th scope="col">Temprature</th>
      <th scope="col">Fuel Status</th>
      <th scope="col">Engine Status</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
  {% for v in vehicles%}
    <tr>
      <td><a href="details/{{v.regno}}">{{v.regno}}</a></td>
      <td>{{v.state}}</td>
      <td>{{v.speed}}</td>
      <td>{{v.avgspeed}}</td>
      <td>{{v.temp}}</td>
      <td>{{v.fuel}}</td>
      <td>{{v.engine}}</td>
      <td>{{v.location}}</td>
      <td><a href="update/{{v.regno}}">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock main %}
